version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      KC_DB: dev-file
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8082
      KC_HTTP_PORT: 8082
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "8082:8082"
    command: start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - intershop-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - intershop-network

volumes:
  keycloak_data:

networks:
  intershop-network:
    driver: bridge
